{%extends 'layout.html'%}
{%block content%}

<title>EBoard - TKE Scroll</title>
<h1 class="header">EBoard</h1>

<table class="ui center aligned collapsing table segment">
	<tbody>
		{%for o in officers%}
		<tr>
			<td>
				<img src="{{STATIC_URL}}images/{{o.jewel_image}}" style="margin:0 auto;" />
				<br/>
				<b>{{o.title}}</b>
			</td>
			<td>
                <p><a href="{% url 'detail' o.current.scroll%}">{{o.current.name}}</a></p>
			</td>
		</tr>
		{%endfor%}
	</tbody>
</table>

{%endblock%}