{%extends 'layout.html'%}
{%block content%}
<head>
    <title>TKE Scroll</title>
</head>
<h1>Tau Kappa Epsilon Xi-Upsilon Scroll</h1>
<p>Enter a search term into the bar above. The database will search for any brothers with the search term in their full name OR nickname. Alternatively, enter a scroll number and you will be linked to that brother's page with his information. Some pages have missing information; this is due to the info not being entered into the Excel sheet that I have. This will be fixed (...eventually).</p>
<a href="/scroll">View Full Scroll</a>
<p>Largest gap between little and big: </p>
{%for b in maxGap%}
<p>{{b.name}}</p>
{%endfor%}
<p>Most littles:</p>
{%for b in mostLittles%}
<p>{{b.name}}</p>
{%endfor%}
{%endblock%}