{%extends 'layout.html'%}
{%block content%}
<head>
    <title>{{brother.name}} - TKE Scroll</title>
    <script type="text/javascript">
                                $(document).ready(function() {
                                $('#contactForm')
                                    .modal("attach events","#issueButton","show")

                                    if ("{{errors}}")
                                    {
                                    $('#contactForm')
                                    .modal('show');
                                    }

                                });
    </script>
</head>
<body>
    <div class="container" style="position:relative;">
        <div class="container" style="height:90%;">
            <div class="ui doubling two column page grid" >
                <div class="six wide column">
                    <h1 class="ui red header">{{brother.name}}</h1>
                    <p>{{brother.scroll}}</p>
                    {% if brother.pc > 0%}
                    <p><a href="/PC/{{brother.pc}}/">PC {{brother.pc}}</a></p>
                    {%elif brother.pc == -999%}
                    <p>Zeta Tau Founder</p>
                    {%elif brother.pc < 0%}
                    <p>Zeta Tau PC {{brother.pc|cut:"-"}}</p>
                    {%else%}
                    <p>Unknown PC</p>
                    {%endif%}
                    {%if brother.nickname != "Unknown" %}
                    <p>{{brother.nickname}}</p>
                    {%endif%}
                    {%if brother.big != "Unknown"%}
                    <a href="{% url 'detail' brother.bigS%}">{{brother.big}}</a>
                    {%endif%}
                    <br/>
                    {%if littles%}
                    <h4>Littles:</h4>
                    <ul>
                        {%for l in littles%}
                        <li><a href="{% url 'detail' l.scroll%}">{{l.name}}</a></li>
                        {%endfor%}
                    </ul>
                    {%endif%}

                    {%if brother.active%}
                    <p>Currently Active</p>
                    {%endif%}
                    <br/>
                    {%if officer%}
                    <img src="{{STATIC_URL}}images/{{officer.jewel_image}}" style="margin:0 auto;" />
                    {%endif%}

                    <div class="2 fluid ui buttons" style="padding-top:10px;">
                        {%if brother.scroll == 1%}
                        <input class="ui disabled button" type="button" value="Previous"/>
                        {%else%}
                        <button class="ui left animated button" type="button" onClick="window.location='/brothers/{{brother.scroll|add:-1}}/' ">
                        <div class="visible content">Previous</div>
                        <div class="hidden content"><i class="left arrow icon"></i>{{brother.scroll|add:-1}}</div>
                        </button>
                        {%endif%}
                        {%if brother.scroll == lastScroll%}
                        <input class="ui disabled button" type="button" value="Next"/>
                        {%else%}
                        <button class="ui right animated button" type="button" onClick="window.location='/brothers/{{brother.scroll|add:1}}/' ">
                        <div class="visible content">Next</div>
                        <div class="hidden content">{{brother.scroll|add:1}}<i class="right arrow icon"></i></div>
                        </button>
                        {%endif%}
                    </div>
                </div>
                <div class="column">
                    {%if tree|length >= 3%}
                    <div class="ui accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            {{brother.fname}}'s {{tree|length|add:-1}} Up
                        </div>
                        <div class="content">
                            {%for b in tree%}
                            {%if b.scroll == brother.scroll%}
                            <div class="ui clearing divider"> </div>
                            <p>{{b.name}}</p>
                            {%else%}
                            <p><a href="{% url 'detail' b.scroll%}">{{b.name}}</a></p>
                            {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="ui segment" style="float:bottom;">
            {%if request.user.is_superuser%}
            <button class="ui button" type="button" onClick="window.location='/brothers/{{brother.scroll}}/edit/' ">
            Edit
            </button>
            {%endif%}
            <p>See missing/wrong info?</p>
            <button id="issueButton" class="ui vertical animated button">
            Contact the histor<i class="mail icon"></i>

            </button>
        </div>
        <div class="ui modal" id="contactForm">
            <i class="close icon"></i>
            <div class="header">
                Contact The Histor
            </div>
            <form class="ui form" method="post" action="/message/">
                {%csrf_token%}
                <div class="content">
                    {{form.message}}
                    {%if form.message.errors%}
                    <div class="ui red pointing prompt label transition visible" style="font-family:Ubuntu-L;display:inline-block;">
                        {{form.message.errors}}
                    </div>
                    {%endif%}
                </div>
                <div class="actions">
                    <button class="ui button" type="submit" name="type" value="Send">
                    Send
                    </button>
                    <button id="issueButton" class="ui button" name="type" value="Cancel">
                    Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
{%endblock%}