{%extends 'layout.html'%}
{%block content%}
<head>
    <title>{{brother.name}} - TKE Scroll</title>
</head>
<body style='font-family="sans-serif"'>
<div class="ui two column page grid">
	<div class="six wide column">
	<h1 class="ui red header">{{brother.name}}</h1>
	<p>{{brother.scroll}}</p>
	{% if brother.pc != -1%}
	<p>PC {{brother.pc}}</p>
	{%else%}
	<p>Unknown PC</p>
	{%endif%}
	<p>{{brother.nickname}}</p>
	<a href="{% url 'detail' brother.bigS%}">{{brother.big}}</a>
	{%if littles%}
	<h4>Littles:</h4>
	<ul>
		{%for l in littles%}
		<li><a href="{% url 'detail' l.scroll%}">{{l.name}}</a></li>
		{%endfor%}
	</ul>
	<p>{%endif%} </p>
	<div class="footer">
	<input class="ui button" type="button" value="View Next in Scroll" onClick="window.location='/brothers/{{brother.scroll|add:1}}/' "/>
</div>
</div>
<div class="column">

	<div class="ui accordion">
		<div class="title">
			{{brother.fname}}'s Family Tree
		</div>
		<div class="content">
		{%for b in tree%}
			<p><a href="{% url 'detail' b.scroll%}">{{b.name}}</a></p>
		{%endfor%}
		</div>
	</div>
</div>
</div>
</body>
{%endblock%}