{%extends 'layout.html'%}
{%block content%}
<head>
    <title>{{brother.name}} - TKE Scroll</title>
</head>
<body style='font-family="sans-serif"'>
<div class="ui two column page grid">
	<div class="six wide column">
	<h1 class="ui red header">{{brother.name}}</h1>
	<p>{{brother.scroll}}</p>
	{% if brother.pc != -1%}
	<p>PC {{brother.pc}}</p>
	{%else%}
	<p>Unknown PC</p>
	{%endif%}
	<p>{{brother.nickname}}</p>
	<a href="{% url 'detail' brother.bigS%}">{{brother.big}}</a>
	{%if littles%}
	<h4>Littles:</h4>
	<ul>
		{%for l in littles%}
		<li><a href="{% url 'detail' l.scroll%}">{{l.name}}</a></li>
		{%endfor%}
	</ul>
	<p>{%endif%} </p>
	<div class="footer">
	<div class="ui buttons">
		{%if brother.scroll == 1%}
		<input class="ui disabled button" type="button" value="View Prev in Scroll"/>
		{%else%}
		<button class="ui vertical animated button" type="button" onClick="window.location='/brothers/{{brother.scroll|add:-1}}/' ">
			<div class="visible content">View Prev in Scroll</div>
			<div class="hidden content"><i class="left arrow icon"></i></div>
		</button>
		{%endif%}
		{%if brother.scroll == lastScroll%}
		<input class="ui disabled button" type="button" value="View Next in Scroll"/>
		{%else%}
		<button class="ui vertical animated button" type="button" onClick="window.location='/brothers/{{brother.scroll|add:1}}/' ">
			<div class="visible content">View Next in Scroll</div>
			<div class="hidden content"><i class="right arrow icon"></i></div>
		</button>
		{%endif%}
	</div>
</div>
</div>
<div class="column">

	<div class="ui accordion">
		<div class="title">
			<i class="dropdown icon"></i>
			{{brother.fname}}'s {{tree|length|add:-1}} Up
		</div>
		<div class="content">
		{%for b in tree%}
		{%if b.scroll == brother.scroll%}
		<div class="ui clearing divider"> </div>
		<p>{{b.name}}</p>
		{%else%}


			<p><a href="{% url 'detail' b.scroll%}">{{b.name}}</a></p>
		{%endif%}
		{%endfor%}
		</div>
	</div>
</div>
</div>
</body>
{%endblock%}