{%extends 'layout.html'%}
{%block content%}
<html>
<head>
    <title>Search Results - TKE Scroll</title>
</head>
<body style='font-family="sans-serif"'>
	{%if b1%}
	<h4>Matching Names:</h4>
    <ul style="font-family:Helvetica">	
		{%for b in b1%}
			{%if b.nickname != "Unknown"%}
				<li><a href="{% url 'detail' b.scroll%}">{{b.name}} ({{b.nickname}})</a></li>
			{%else%}
				<li><a href="{% url 'detail' b.scroll%}">{{b.name}}</a></li>
			{%endif%}

		{%endfor%}
	</ul>
	{%endif%}
	{%if b2%}
	<h4>Matching Nicknames:</h4>
	<ul style="font-family:Helvetica">
		{%for b in b2%}
			<li><a href="{% url 'detail' b.scroll%}">{{b.name}} ({{b.nickname}})</a></li>
		{%endfor%}
	</ul>
	{%endif%}
	{%if not b1 and not b2%}
	<p style="font-family:Helvetica">No matches. Please try again.</p>
	<p style="font-family:Helvetica">Note: If you searched for a shortened name which is not within the full name, it will not work!</p>
	<p style="font-family:Helvetica">For example, if you entered "Dan" or "Niel," the search will return "Daniel." However, searching "Nick" or "Nico" will not return "Nicholas."</p>
	{%endif%}
</body>
</html>
{%endblock%}