{%extends 'layout.html'%}
{%block content%}
<title>"Fun" Facts - TKE Scroll</title>
<h1 class="ui center aligned red header">"Fun" Facts</h1>
<p>
	Here are some "fun" facts. In reality, very few of these will be at all interesting, let alone fun.
</p>
<div class="ui bulleted list">
	<div class="item"style="font-family:Ubuntu-L;">
		The largest gap between a big and a little is between <a href="{%url 'detail' biggestGap.scroll%}">{{biggestGap.name}}</a> ({{biggestGap.scroll}}) and his big, <a href="{%url 'detail' biggestGap.bigS%}">{{biggestGap.big}}</a> ({{biggestGap.bigS}}). This is a gap of {{biggestGapNum}}!
	</div>
	<div class="item"style="font-family:Ubuntu-L;">
		The brother with the most littles is <a href="{%url 'detail' mostLittles.scroll%}">{{mostLittles.name}}</a>, with a whopping {{mostLittlesNum}} littles!
	</div>
	<div class="item"style="font-family:Ubuntu-L;">
		The largest pledge class is <a href="/PC/{{largestPC}}">PC {{largestPC}}</a>, which is made up of a staggering {{largestPCNum}} brothers!
	</div>
	<div class="item"style="font-family:Ubuntu-L;">
		The most objectively badass name is <a href="{%url 'detail' 366%}">Zebulon Robbins, III</a>.
	</div>
</div>
{%endblock%}