{%load staticfiles%}

<!DOCTYPE HTML>
<script src="{% static "/javascript/jquery.js" %}"></script>
<script src="{% static "/javascript/ajax.js" %}"></script>
<html style="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />

        <link href="{% static 'css/semantic.css' %}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
        <style type="text/css">
        @font-face { font-family: Ubuntu-B; src: url("{%static 'fonts/Ubuntu-B.ttf'%}"); }
        @font-face { font-family: Ubuntu-L; src: url("{%static 'fonts/Ubuntu-L.ttf'%}"); }
        h1 {
        font-family: Ubuntu-B
        }
        div
        {
        font-family: Ubuntu-B;

        }
        p
        {
        font-family: Ubuntu-L;
        }
        a
        {
        font-family: Ubuntu-L;
        }
        h3
        {
        font-family: Ubuntu-B;
        }
        input
        {
        font-family: Ubuntu-B;
        }
        </style>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js">
        </script>
        <script src="{% static 'javascript/semantic.js' %}" type="text/javascript">
        </script>

        <script type="text/javascript">
        $(document).ready(function() {
        if ($(document).width() < 1200) {
                $("#desktopmenu").hide();
                $("#mobilemenu").show();
            }
            else {
            $("#mobilemenu").hide();
                $("#desktopmenu").show();
            }
        $('.ui.accordion')
        .accordion();

        });
        $(window).resize(function(){
        if ($(document).width() < 1200) {
                $("#desktopmenu").hide();
                $("#mobilemenu").show();
            }
            else {
            $("#mobilemenu").hide();
                $("#desktopmenu").show();
            }
         });
$(window).bind('orientationchange', function () {
    location.reload();
});

        </script>

    </head>
    <body style="height:100%;width:100%;">
        <div class="ui fixed transparent inverted red main menu" style="top:0px;left:0px;position:fixed;" id="desktopmenu">
            <div class="container"style="">
                <a class="item" href="{%url 'home'%}"style="top:0px;position:relative;overflow:auto;min-width:13%;width:13%;	white-space: nowrap;">
                	<i class="play basic icon"></i>
                	TKE Xi-Upsilon
                </a>
            <div class="ui simple dropdown item">
                View <i class="icon dropdown"></i>
                <div class="inverted red menu" style="font">
                    <a class="item" href="/scroll/">
                        <i class="list icon"></i> Scroll
                    </a>
                    <a class="item" href="/actives/">
                        <i class="users icon"></i> Active Chapter
                    </a>
                    <a class="item" href="/eboard/">
                        <i class="legal icon"></i> EBoard
                    </a>
                    <a class="item" href="/facts/">
                        <i class="lightbulb icon"></i>Facts
                    </a>
                </div>
            </div>
                
                <div class="item"style="position:relative;min-width:57%;width:57%;white-space: nowrap;">
                    <div class="ui form"style="white-space: nowrap;">
                        <form class="ui form" action="/search/" method="get"style="white-space: nowrap;">


                            <div class="ui input">
                                <input id='q' name="q" type="text" placeholder="Search..." size="30" style="position:relative;overflow:auto;min-width:45%;width:45%;white-space: nowrap;">


                                <div class="ui buttons"style="position:relative;min-width:50%;width:50%;">
                                    <button class="ui vertical animated button" type="submit" value="Search Brothers"style="position:relative;min-width:35%;width:35%;white-space: nowrap;">
                                    <div class="visible content">
                                        Search
                                    </div>
                                    <div class="hidden content">
                                        <i class="search icon"></i>
                                    </div>
                                    </button>
                                    <button class="ui vertical animated button" type="submit" name="type" value="Scroll" style="position:relative;;min-width:39%;width:39%;white-space: nowrap;">
                                    <div class="visible content"style="position:relative;;min-width:100%;width:100%;left:-5px;">
                                        Scroll
                                    </div>
                                    <div class="hidden content"style="">
                                        <i class="user icon"></i>
                                    </div>
                                    </button>

                                    <button class="ui vertical animated button" type="submit" name="type" value="Search PC" style="position:relative;min-width:26%;width:26%;white-space: nowrap;">
                                    <div class="visible content">
                                        PC
                                    </div>
                                    <div class="hidden content">
                                        <i class="users icon"></i>
                                    </div>
                                    </button>
                                </div>

                            </div>
                            <div class="ui error message"style="position:absolute;right:0px;"></div>
                        </form>
                    </div>
                </div>
                <a class="item" href="/logout/"style="position:relative;overflow:auto;min-width:10%;width:10%;">
                <i class="sign out icon"></i>Log Out
                </a>
            </div>
        </div>
        <div class="ui fixed red inverted labeled icon menu" id="mobilemenu" style="top:0px;left:0px;width:100%;white-space: nowrap;">
            <a class="red item" href="{%url 'home'%}" style="width:20%;">
            <i class="home icon"></i>
            Home
            </a>
            <a class="red item" href="/scroll/"style="width:20%;">
            <i class="list icon"></i>
            Scroll
            </a>
            <a class="red item" href="/fullSearch/"style="width:20%;">
            <i class="search icon"></i>
            Search
            </a>
            <a class="red item" href="/facts/"style="width:20%;">
            <i class="lightbulb icon"></i>
            Facts
            </a>
            <a class="red item" href="/logout/"style="width:20%;">
            <i class="sign out icon"></i>
            Logout
            </a>

        </div>
        <div class="ui basic segment" style="top:50px;height:80%;">
            {%block content%}
            {%endblock%}
        </div>
        <div class="ui container" style="position:absolute;float:bottom;height:7%;bottom:0;">

        </div>
    </body>
</html>