{%load staticfiles%}
      
<!DOCTYPE HTML>
<html>        
<head>
  <meta charset="utf-8" />

 
  <link href="{% static 'css/semantic.css' %}" rel="stylesheet" type="text/css" />
 
  <style type="text/css">
 @font-face { font-family: Ubuntu-B; src: url("{%static 'fonts/Ubuntu-B.ttf'%}"); } 
  @font-face { font-family: Ubuntu-L; src: url("{%static 'fonts/Ubuntu-L.ttf'%}"); } 
 h1 {
font-family: Ubuntu-B
}
div
{
	font-family: Ubuntu-B;
}
p
{
	font-family: Ubuntu-L;
}
a
{
	font-family: Ubuntu-L;
}
h3
{
	font-family: Ubuntu-B;
}
input
{
	font-family: Ubuntu-B;
}
  </style>

  <script src="http://code.jquery.com/jquery-1.10.2.min.js">
$(document).ready(function() {
$('.ui.accordion')
  .accordion();
  $('.ui.sidebar')
  .sidebar();

});
});
  </script>
  <script src="{% static 'javascript/semantic.js' %}" type="text/javascript">
  $(document).ready(function() {
$('.ui.accordion')
  .accordion();
  $('.ui.sidebar')
  .sidebar();

});
});
  </script>
 
  <script type="text/javascript">
  $(document).ready(function() {
$('.ui.accordion')
  .accordion();


});
  </script>      
 
</head>
<body>

<div class="ui fixed transparent inverted red main menu" style="top:0px;left:0px">
	<div class="container">
	<div class="item">
	<i class="play basic icon"></i>
		TKE
	</div>
	<a class="item" href="{%url 'home'%}">
		<i class="home icon"></i> Home
	</a>
	<a class="item" href="/scroll/">
		<i class="list icon"></i> Scroll
	</a>
	<div class="item">
	<form class="ui form" action="/search/" method="get">  
	
    	
	<div class="ui action input">
		<input name="q" type="text" placeholder="Search..." size="50">
	
		
		<div class="ui buttons"> 
			<button class="ui vertical animated button" type="submit" value="Search Brothers">
				<div class="visible content"> 
					Search Brothers 
				</div>
				<div class="hidden content">
					<i class="user icon"></i>
				</div>
			</button>
			 
			<button class="ui vertical animated button" type="submit" name="type" value="Search PC">
				<div class="visible content"> 
					Search PC 
				</div>
				<div class="hidden content">
					<i class="users icon"></i>
				</div>
			</button>
		</div>


			
	</div>

</form>
</div>
</div>
</div>

<div class="segment">
	HELLO
</div>
<div class="ui horizontal divider">TKE</div>
<div class="segment">
{%block content%}

{%endblock%}
</div>
</body>
</html>